.breadcrumbs {
  background: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.breadcrumbs__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.breadcrumbs__items {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__items .fontRed {
  font-weight: 700;
  color: #F16D7F;
}

.slide {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 42px;
}
.slide__button_left:hover .slide__color {
  fill: #F16D7F;
}
.slide__button_right:hover .slide__color {
  fill: #F16D7F;
}

.item {
  background: #FFFFFF;
}

.customization {
  border: 1px solid #EAEAEA;
  max-width: 1140px;
  max-height: 600px;
  background: #FFFFFF;
  display: grid;
  justify-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
  position: relative;
  bottom: 64px;
  margin-bottom: 65px;
}
.customization__title {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.customization__line-top {
  margin-bottom: 12px;
}
.customization__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.customization__text {
  width: 554px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
.customization__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}
.customization__line-bottom {
  margin-bottom: 65px;
}
.customization__choose {
  display: flex;
  gap: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 48px;
}
.customization__choose_color {
  display: flex;
  gap: 9px;
}
.customization__choose_size {
  display: flex;
  gap: 9px;
}
.customization__choose_quantity {
  display: flex;
  gap: 9px;
}
.customization .box {
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.customization .box_vector {
  margin-left: 24px;
}
.customization .box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.product {
  margin-bottom: 128px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.header {
  position: relative;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.box-content {
  overflow: hidden;
}

.nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.2117647059);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 78px;
  right: 0;
  transition: right 0.3s;
}
.nav__link {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.filter-sort {
  /*
  flex-direction: row;
  flex-wrap: wrap;
  gap: 320px;
  */
  display: flex;
  height: 132px;
  padding-top: 39px;
  position: relative;
  /*
  padding-top: 51px;
  padding-bottom: 64px;
  */
}
.filter-sort .filter {
  width: 360px;
  padding-top: 13px;
  /*
  padding: 13px 16px 16px;
  position: absolute;
  top: 39px;
  */
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.filter-sort .filter__content {
  background-color: #FFFFFF;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter-sort .filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-sort .filter[open] .filter__heading {
  color: #F16D7F;
}
.filter-sort .filter[open] path {
  fill: #F16D7F;
}
.filter-sort .filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter-sort .filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter-sort .filter__item {
  margin-top: 16px;
}
.filter-sort .filter__heading-items {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
}
.filter-sort .filter__item[open] .filter__heading-items {
  color: #F16D7F;
}
.filter-sort .filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter-sort .filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter-sort .filter__link:hover {
  color: #F16D7F;
}
.filter-sort .sort {
  /*
  position: absolute;
  left: 490px;
  top: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  */
  padding-top: 12px;
  padding-left: 30px;
  display: flex;
  gap: 18px;
}
.filter-sort .sort__details {
  position: relative;
}
.filter-sort .sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter-sort .sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
}
.filter-sort .sort__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter-sort .sort__box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.filter-sort .sort__lable {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.pages {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.pages__item {
  background: #FFFFFF;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 284px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.pages__item_left:hover path {
  fill: #F16D7F;
}
.pages__item_center {
  display: flex;
  gap: 23px;
}
.pages__item_center .number {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.pages__item_center .number1 {
  color: #EF5B70;
}
.pages__item_right:hover path {
  fill: #F16D7F;
}

input {
  border: 0px;
}

.shopping {
  padding-top: 69px;
  padding-bottom: 128px;
  display: flex;
  gap: 128px;
}
.shopping__cards {
  width: 652px;
  display: grid;
  gap: 40px;
}
.shopping__cards_item {
  display: flex;
  background: #FFFFFF;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.shopping__cards_item .cards_info {
  width: 390px;
  padding-top: 22px;
  padding-left: 31px;
}
.shopping__cards_item .cards_info-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 57px;
  margin-bottom: 42px;
}
.shopping__cards_item .cards_info-heading-text {
  display: block;
  max-width: 210px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.shopping__cards_item .cards_info-heading-cross {
  margin-right: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.shopping__cards_item .cards_info-content {
  display: flex;
  align-items: baseline;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.shopping__cards_item .cards_info-content-price {
  color: #F16D7F;
}
.shopping__cards_item .cards_info-content-color {
  color: #6F6E6E;
}
.shopping__cards_item .cards_info-content-size {
  color: #6F6E6E;
}
.shopping__cards_item .cards_info-content-input {
  margin-left: 24px;
  width: 43px;
  height: 24px;
  text-align: center;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.shopping__cards_item .cards_info-quantity {
  display: flex;
  gap: 24px;
}
.shopping__buttons {
  margin-top: 32px;
  max-width: 652px;
  display: flex;
  justify-content: space-between;
}
.shopping__button {
  background: #FFFFFF;
  padding: 16px 40px;
  border: 1px solid #A4A4A4;
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  transition: 0.3s;
}
.shopping__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.shopping .purchase {
  margin-top: 16px;
  width: 360px;
}
.shopping .purchase__shipping {
  margin-bottom: 57px;
}
.shopping .purchase__shipping_title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.shopping .purchase__shipping_input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
}
.shopping .purchase__shipping_input-item {
  border: none;
}
.shopping .purchase__shipping_button {
  padding-top: 11px;
  padding-bottom: 11px;
  width: 102px;
  border: 1px solid #A4A4A4;
  margin-top: 24px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.shopping .purchase__shipping_button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.shopping .purchase__checkout {
  background: #F5F3F3;
  padding: 39px 43px 42px 44px;
}
.shopping .purchase__checkout_sub-total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.shopping .purchase__checkout_grand-total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.shopping .purchase__checkout_border {
  margin-bottom: 33px;
  background-color: #E2E2E2;
  border: none;
  height: 1px;
}
.shopping .purchase__checkout_button {
  padding: 16px 40px 16px 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  background: #F16D7F;
  color: #FFFFFF;
  transition: 0.3s;
}
.shopping .purchase__checkout_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
}

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: flex;
  gap: 128px;
}
.registration__data {
  width: 360px;
}
.registration__data_name {
  display: grid;
  gap: 20px;
  margin-bottom: 31px;
}
.registration__data_name-heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__data_name-first_name, .registration__data_name-last_name {
  width: -webkit-fill-available;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-top: 13px;
  padding-left: 18px;
  padding-bottom: 16px;
  border: 1px solid #A4A4A4;
}
.registration__data_name-first_name::-moz-placeholder, .registration__data_name-last_name::-moz-placeholder {
  color: #B1B1B1;
}
.registration__data_name-first_name::placeholder, .registration__data_name-last_name::placeholder {
  color: #B1B1B1;
}
.registration__data_male_female {
  margin-bottom: 33px;
  display: flex;
  gap: 20px;
}
.registration__data_male_female .radio__male,
.registration__data_male_female .radio__female {
  display: flex;
  gap: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}
.registration__data_male_female label {
  color: #000000;
}
.registration__data_login {
  display: grid;
  gap: 20px;
}
.registration__data_login_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__data_login_email, .registration__data_login_password {
  width: -webkit-fill-available;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  border: 1px solid #A4A4A4;
}
.registration__data_login_email::-moz-placeholder, .registration__data_login_password::-moz-placeholder {
  color: #B1B1B1;
}
.registration__data_login_email::placeholder, .registration__data_login_password::placeholder {
  color: #B1B1B1;
}
.registration__data_text {
  margin-top: 15px;
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration__data_button {
  width: 167px;
  background-color: #F16D7F;
  padding-top: 16px;
  padding-bottom: 17px;
  color: #FFFFFF;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #F16D7F;
}
.registration__data_button-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.registration__data_button:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
}
.registration__info {
  width: 652px;
}
.registration__info_heading {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration__info_text {
  margin-top: 22px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.registration__info_points {
  display: grid;
  gap: 16px;
}
.registration__info_point {
  display: flex;
  align-items: center;
  gap: 23px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer__bottom, .footer__middle, .footer__top, .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  /*
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  */
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

ul {
  list-style-type: none;
}

.box-content {
  overflow: hidden;
}

.header {
  background: #222222;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  */
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__left_logo {
  cursor: pointer;
}
.header__left_search {
  cursor: pointer;
}
.header__left_search:hover path {
  fill: #F16D7F;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__right_burger-item {
  cursor: pointer;
}
.header__right_burger-item:hover path {
  fill: #F16D7F;
}
.header__right_burger-nav {
  position: absolute;
  top: 78px;
  right: 0px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-sizing: border-box;
  padding: 37px 0px 16px 34px;
  transition: right 0.4s;
  z-index: 100;
}
.header__right_burger-nav-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.header__right_burger-nav-subtitle {
  margin-bottom: 11px;
  margin-top: 20px;
}
.header__right_burger-nav-head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.header__right_burger-nav-links {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 17px;
}
.header__right_burger-nav-link {
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.header__right_burger #burger {
  position: absolute;
  left: 999999;
  visibility: hidden;
}
.header__right_burger #burger:checked ~ .header__right_burger-nav {
  right: -232px;
}
.header__right_account {
  cursor: pointer;
}
.header__right_account:hover path {
  fill: #F16D7F;
}
.header__right_basket {
  cursor: pointer;
}
.header__right_basket:hover path {
  fill: #F16D7F;
}

.promo {
  background: #F1E4E6;
  display: flex;
  margin-bottom: 65px;
  justify-content: center;
}
.promo__img {
  display: flex;
}
.promo__info {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 64px;
}
.promo__info_text-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222224;
}
.promo__info_text-heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222224;
}

.category {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 96px;
}
.category__item {
  position: relative;
  display: flex;
}
.category__item_bottom {
  grid-column: 1/-1;
}
.category__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category__content_text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.category__content_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product {
  margin-bottom: 96px;
}
.product__heading {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}
.product__text {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.product__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}
.product__item {
  position: relative;
  background: #F8F8F8;
  width: 360px;
}
.product__item_hover {
  position: absolute;
  left: 0px;
  opacity: 0;
}
.product__item_hover:hover {
  opacity: 1;
}
.product__item_content {
  display: grid;
  padding: 25px 20px 19px 16px;
}
.product__item_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.product__item_text {
  width: 315px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
.product__item_price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.product .box {
  display: flex;
  justify-content: center;
}
.product .box__text {
  width: 211px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  border: 1px solid #FF6A6A;
  padding-top: 14px;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}
.product .box__text:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.footer__top {
  padding-top: 104px;
  padding-bottom: 104px;
  background: #222224;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  */
  justify-content: center;
  gap: 30px;
}
.footer__top_item {
  width: 360px;
  display: grid;
  justify-items: center;
}
.footer__top_heading {
  margin-top: 28px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.footer__top_heading:hover {
  color: #F16D7F;
}
.footer__top_text {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-left: 30px;
  padding-right: 30px;
}
.footer__middle {
  padding-top: 86px;
  padding-bottom: 126px;
  background-image: url(../img/subscribe.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  */
  gap: 223px;
}
.footer__middle_item {
  display: grid;
  justify-items: center;
  gap: 30px;
}
.footer__middle_slogan {
  width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.footer__middle_slogan-italic {
  font-style: italic;
}
.footer__middle_title {
  display: grid;
  justify-items: center;
}
.footer__middle_heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  /* or 40px */
  text-align: center;
  color: #222224;
}
.footer__middle_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  /* or 30px */
  text-align: center;
  color: #222224;
}
.footer__middle .form {
  display: flex;
  align-items: center;
}
.footer__middle .form__email {
  width: 234px;
  height: 50px;
  background: #E1E1E1;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: none;
  padding-left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}
.footer__middle .button {
  background: #F16D7F;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.footer__middle .button:hover {
  background: #FFFFFF;
  color: #F16D7F;
}
.footer__bottom {
  /*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  */
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #222224;
}
.footer__bottom .contacts {
  display: flex;
  gap: 7px;
}
.footer__bottom .contacts__item:hover .bg {
  fill: black;
}
.footer__bottom .contacts__item:hover .vector {
  fill: white;
}
.footer__bottom .signature {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

@media (max-width: 1024px) {
  .center {
    /*
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
    */
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .promo__img {
    height: 368px;
  }
  .promo__info {
    padding-left: 39px;
  }
  .promo__info_text-title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__info_text-heading {
    font-size: 24px;
    line-height: 29px;
  }
  .category {
    gap: 20px;
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .footer__middle {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 54px;
    padding-bottom: 140px;
  }
}
@media (max-width: 767px) {
  .center {
    /*
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
    */
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
  }
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .basket {
    display: none;
  }
  .account {
    display: none;
  }
  .promo {
    height: 363px;
    align-items: center;
  }
  .promo__img {
    display: none;
  }
  .promo__info {
    padding-left: 0;
  }
  .promo__info_text-title {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__info_text-heading {
    font-size: 20px;
    line-height: 24px;
  }
  .category {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    justify-items: center;
    gap: 32px;
    padding-bottom: 64px;
  }
  .category__item {
    max-width: 343px;
  }
  .category__item_bottom {
    max-width: 343px;
    min-height: 110px;
  }
  .category__item_bottom img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product {
    margin-bottom: 0px;
  }
  .product__heading {
    margin-bottom: 4px;
  }
  .product__text {
    margin-bottom: 64px;
  }
  .product__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .product .box {
    margin-top: 40px;
  }
  .footer__top {
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .footer__middle {
    padding-top: 64px;
    padding-bottom: 110px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 9px;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */